<li 
    class="todo-item"
    appHighlightCompletedTodo 
    [isCompleted]="todoSignal().completed"
    (change)="todoClicked()"
>
    <div class="todo-content">
        <div class="checkbox-wrapper">
            <input 
                type="checkbox" 
                [id]="'todo-' + todoSignal().id"
                [checked]="todoSignal().completed"
                class="todo-checkbox"
            />
            <label [for]="'todo-' + todoSignal().id" class="todo-label">
                {{todoSignal().title | uppercase}}
            </label>
        </div>
        <button class="delete-btn" (click)="deleteTodo()">
            <span class="delete-icon">×</span>
        </button>
    </div>
</li>